{% extends "layouts/base.html" %}
{% load static %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block title %} Register {% endblock %}

{% block content_login %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Login</h3>
            </div>
            {% comment %} <div class="card-body">
                <h6 class="card-category">
                    {% if msg %}
                      <span class="text-danger">{{ msg | safe }}</span>
                    {% endif %}  
                </h6>
                
                <br />
                <form role="form" method="post" action="#" id="loginForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        {{form.email}}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        {{form.password}}
                    </div>
                    <button type="submit" name="login" class="btn btn-primary">Login</button>
                </form>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock content_login %}

{% block javascripts %} 
{% comment %} <script type="text/javascript" src="{% static 'js/login.js' %}"></script> {% endcomment %}
{% endblock javascripts %}